/* ============================================
    CONTACT
    Contact page layout
=============================================== */

@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

/* --------------------------------------
    CONTACT INFO
    Intro text
----------------------------------------- */

.contact {
    @include layout-grid;
    grid-template-rows: 1fr 0.6fr;
    margin-block: $space-8 $space-10;

    &__title {
        grid-column: 1 / span 5;
        grid-row: 1 / span 1;
    }

    &__intro {
        max-width: 420px;
        width: 100%;
        min-height: 56px;
        grid-column: 1 / span 5;
        grid-row: 2 / span 1;
    }
}

/* --------------------------------------
    CONTACT FORM
    Input fields and submit button
----------------------------------------- */

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 475px;
    width: 100%;
    min-height: 291px;
    margin-block-start: $space-2;
    grid-column: 8 / span 5;
    grid-row: 1 / span 2;

    &__field {
        position: relative;
    }

    &__input {
        width: 100%;
        padding-bottom: $space-2;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid $color-divider-tertiary;

        &:focus::placeholder {
            color: transparent;
        }

        &:focus+.contact-form__line::after {
            transform: scaleX(1);
        }
    }

    &__line::after {
        @include focus-underline
    }

    &__btn {
        @include button-style;
    }

}

/* --------------------------------------
    CONTACT VISUAL
    Full-width image
----------------------------------------- */

.contact-visual {
    margin-block-end: $space-9;

    &__main-img {
        width: 100%;
        height: auto;
        grid-column: 1 / span 12;
    }
}