/* ============================================
    INDEX
    Home page layout
=============================================== */

@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

/* --------------------------------------
    HERO
    Intro text and quote
----------------------------------------- */

.hero {
    @include layout-grid;
    margin-block: $space-8 $space-12;

    &__intro {
        grid-column: 1 / span 7;

        &-kicker {
            padding-block-end: $space-5;
        }
    }

    &__quote {
        grid-column: 10 / span 3;
        align-self: flex-end;
        position: relative;
        right: $space-5;

        &-line {
            width: 30px;
            height: 2px;
            background-color: $color-divider-primary;
        }

        &-text {
            padding-block: $space-1 $space-4;
        }
    }
}

/* --------------------------------------
    VISUAL
    Masonry grid layout for images
----------------------------------------- */

.visual__grid {
    @include masonry-grid;

    &-item--01 {
        grid-area: 1 / 1 / span 7 / span 3;
    }

    &-item--02 {
        grid-area: 1 / 4 / span 6 / span 3;
    }

    &-item--03 {
        grid-area: 1 / 7 / span 10 / span 3;
    }

    &-item--04 {
        grid-area: 8 / 1 / span 8 / span 3;
    }

    &-item--05 {
        grid-area: 7 / 4 / span 7 / span 3;
    }

    &-item--06 {
        grid-area: 11 / 7 / span 7 / span 3;
    }

    &-item--07 {
        grid-area: 16 / 1 / span 8 / span 3;
    }

    &-item--08 {
        grid-area: 14 / 4 / span 9 / span 3;
    }

    &-item--09 {
        grid-area: 18 / 7 / span 9 / span 3;
    }

    &-item--10 {
        grid-area: 24 / 1 / span 9 / span 3;
    }

    &-item--11 {
        grid-area: 23 / 4 / span 10 / span 3;
    }

    &-item--12 {
        grid-area: 27 / 7 / span 6 / span 3;
    }

    &-img {
        @include image-fill;
    }
}

/* --------------------------------------
    SERVICES
    Intro text and service lists
----------------------------------------- */

.services {
    @include layout-grid;
    margin-block: $space-9 $space-10;

    &__intro {
        grid-column: 1 / span 7;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        right: $space-5;
        grid-column: 9 / span 4;
    }

    &__list {
        @include list-style;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &--left {
            min-width: 151px;
        }

        &--right {
            min-width: 133px;
        }
    }
}

/* --------------------------------------
    AWARDS
    Awards and project information
----------------------------------------- */

.awards {
    @include layout-grid;
    @include section-divider;
    row-gap: 80px;
    margin-bottom: $space-10;
    padding-block: $space-6;

    &__org {
        min-width: 140px;
        grid-column: 1 / span 3;
    }

    &__category {
        grid-column: 6 / span 2;
        flex-basis: 136px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: $space-1;
        grid-column: 6 / span 7;
    }

    &__project {
        display: flex;
        justify-content: space-between;
        gap: $space-2;
        flex-grow: 0.45;

        &-item {
            display: flex;
            flex-direction: column;
            gap: $space-1;
            grid-column: 9 / span 3;
            max-width: 184px;
            width: 100%;
            min-height: 110px;
        }
    }

    &__divider {
        @include content-divider;
    }
}