/* ============================================
    INDEX
    Home page layout
=============================================== */

@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

/* --------------------------------------
    HERO
    Intro text and quote
----------------------------------------- */

.hero {
    @include layout-grid;
    margin-block: $space-8 $space-12;

    &__intro {
        grid-column: 1 / span 7;

        &-kicker {
            padding-block-end: $space-5;
        }
    }

    &__quote {
        grid-column: 10 / span 3;
        align-self: flex-end;
        position: relative;
        right: $space-5;

        &-line {
            width: 30px;
            height: 2px;
            background-color: $color-divider-primary;
        }

        &-text {
            padding-block: $space-1 $space-4;
        }
    }
}

/* --------------------------------------
    VISUAL
    Masonry grid layout for images
----------------------------------------- */

.visual__grid {
    @include masonry-grid;

    &-item--01 {
        grid-area: 1 / 1 / span 7 / span 3;
    }

    &-item--02 {
        grid-area: 1 / 4 / span 6 / span 3;
    }

    &-item--03 {
        grid-area: 1 / 7 / span 10 / span 3;
    }

    &-item--04 {
        grid-area: 8 / 1 / span 8 / span 3;
    }

    &-item--05 {
        grid-area: 7 / 4 / span 7 / span 3;
    }

    &-item--06 {
        grid-area: 11 / 7 / span 7 / span 3;
    }

    &-item--07 {
        grid-area: 16 / 1 / span 8 / span 3;
    }

    &-item--08 {
        grid-area: 14 / 4 / span 9 / span 3;
    }

    &-item--09 {
        grid-area: 18 / 7 / span 9 / span 3;
    }

    &-item--10 {
        grid-area: 24 / 1 / span 9 / span 3;
    }

    &-item--11 {
        grid-area: 23 / 4 / span 10 / span 3;
    }

    &-item--12 {
        grid-area: 27 / 7 / span 6 / span 3;
    }

    &-img {
        @include image-fill;
    }
}