/* =================================================
    BASE
    Default layout styles 
==================================================== */

@use "abstracts/variables" as *;

/* --------------------------------------
    BASE SETUP
----------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* --------------------------------------
    PAGE LAYOUT
----------------------------------------- */

body {
  min-height: 100vh;
}

.page {
  max-width: 1158px;
  width: 100%;
  margin-inline: auto;
  padding: 0 $space-4 $space-6 $space-4;
}


/* --------------------------------------
    ELEMENTS RESETS
----------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul,
li,
dl,
dd {
  margin: 0;
}