/* =================================================
    TYPOGRAPHY
    Text styles for all sections and components
==================================================== */

@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

/* -------------------------------------
    BASE
---------------------------------------- */

body {
    font-family: $font-primary;
}

/* -------------------------------------
    SITE NAVIGATION
---------------------------------------- */

.site-nav {
    @include text-nav;

    &__link {
        @include link-style;
        @include hover-underline;
    }

    &__item:hover &__link::after {
        transform: scaleX(1);
    }
}

/* -------------------------------------
    HERO
---------------------------------------- */

.hero {

    &__intro-kicker {
        @include text-kicker;
    }

    &__intro-title {
        @include text-display-primary;
    }

    &-accent {
        color: $color-accent;
    }
}

.hero__quote {
    &-text {
        @include text-quote;
    }
}

/* -------------------------------------
    SERVICES
---------------------------------------- */

.services {

    &__intro {
        @include text-lead;
    }

    &__item {
        @include text-menu;
    }

    &__link {
        @include link-style;
        @include hover-underline;

        &::after {
            height: 1px;
        }
    }

    &__item:hover &__link::after {
        transform: scaleX(1);
    }
}

/* -------------------------------------
    AWARDS
---------------------------------------- */

.awards {
    &__org {
        @include text-table-heading
    }

    &__category {
        @include text-table-subheading;
    }

    &__project-title,
    &__year {
        @include text-table-lead;
    }

    &__project-info {
        @include text-table-body
    }
}

/* -------------------------------------
    PROJECT DETAILS
---------------------------------------- */

.project-details {
    &__title {
        @include text-display-secondary;
    }

    &__intro {
        @include text-body;
    }
}

.project-details__row {
    &-label {
        @include text-meta-label;
    }

    &-value {
        @include text-meta-value
    }
}

/* -------------------------------------
    PROJECT VISUAL
---------------------------------------- */

.project-visual__info {
    @include text-body;
}